@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
strong,
ul,
li,
article,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  justify-content: center;
  text-align: center;
  vertical-align: baseline;
}

article,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}

/* Basic */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

body {
  color: #505050;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.5em;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: #a2a2a2;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #966868 !important;
  text-decoration: none;
}

strong {
  color: #787878;
  font-weight: 400;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3 {
  color: #505050;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 1em 0;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
  margin: -1em 0 0em 0;
}

i {
  font-size: 4em;
  color: #966868;
  text-shadow: 0px 1px black;
}

/* Row */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

.row > * {
  box-sizing: border-box;
}

.row > .col-6 {
  width: 50%;
}

.row {
  margin-top: 0;
  margin-left: -2.5em;
}

.row > * {
  padding: 0 0 0 3em;
}

@media screen and (max-width: 1800px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row {
    margin-top: 0;
    margin-left: -2.5em;
  }

  .row > * {
    padding: 0 0 0 3em;
  }

  #qrcode {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row {
    margin-top: 0;
    margin-left: -2em;
  }

  .row > * {
    padding: 0 0 0 3em;
  }

  #qrcode {
    display: flex;
    width: 50%;
  }
}

@media screen and (max-width: 980px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row {
    margin-top: 0;
    margin-left: -2em;
  }

  .row > * {
    padding: 0 0 0 3em;
  }
}

@media screen and (max-width: 736px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row {
    margin-top: 0;
    margin-left: -1.5em;
  }

  .row > * {
    padding: 0 0 0 2em;
  }
}

@media screen and (max-width: 480px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row > .col-12-xsmall {
    width: 100%;
  }

  .row {
    margin-top: 0;
    margin-left: -1.5em;
  }

  .row > * {
    padding: 0 0 0 2em;
  }

  #qrcode {
    width: 100%;
  }
}

/* Section/Article */

header.major h2 {
  font-size: 2em;
}

section > img {
  width: 100px;
}
/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

/* Image */

.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image:before {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background: url("images/overlay.png");
  border-radius: 0.35em;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.thumb {
  text-align: center;
}

.image.thumb:after {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0.35em;
  border: solid 3px rgba(255, 255, 255, 0.5);
  color: #fff;
  content: "Live Demo";
  display: inline-block;
  font-size: 0.8em;
  font-weight: 400;
  left: 50%;
  line-height: 2.25em;
  margin: -1.25em 0 0 -3em;
  opacity: 0;
  padding: 0 1.5em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  white-space: nowrap;
}

.image.thumb:hover:after {
  opacity: 1;
}

.image.thumb:hover:before {
  background: url("images/overlay.png"), url("images/overlay.png");
  opacity: 1;
}

.image img {
  border-radius: 0.35em;
  display: block;
}

.image.fit {
  display: block;
  margin: 1em 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.avatar {
  border-radius: 100%;
}

.image.avatar:before {
  display: none;
}

.image.avatar img {
  border-radius: 100%;
  width: 100%;
}

/* List */

ul {
  list-style: disc;
  padding-left: 1em;
}

/* Links */

.link-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  justify-content: space-around;
}

ul.links {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

.button {
  border: 1px 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-shadow: 2px 2px black;
}

.button1 {
  background-color: #966868;
  color: white;
  padding: 5px 19px;
}

.button2 {
  background-color: #966868;
  color: white;
  padding: 5px 9px;
}

.button3 {
  background-color: #966868;
  color: white;
  padding: 5px 7px;
  font-size: 15px;
  text-shadow: none;
}

.button4 {
  background-color: #966868;
  color: white;
  padding: 5px 7px;
  font-size: 15px;
  text-shadow: none;
}

.button5 {
  background-color: #966868;
  color: white;
  padding: 5px 3px;
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 1.5em;
}

.fa-dollar-sign {
  color: lightgreen;
}

.fa-soap {
  color: lightsteelblue;
}

/* Header */

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: -moz-flex-end;
  -webkit-align-items: -webkit-flex-end;
  -ms-align-items: -ms-flex-end;
  align-items: flex-end;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background-color: #1f1815;
  background-attachment: scroll, scroll;
  background-image: url("../../images/blocks.jpg");
  background-position: top left, top left;
  background-repeat: repeat, no-repeat;
  background-size: auto, 150%;
  color: rgb(255, 255, 255);
  height: 100%;
  left: 0;
  padding: 8em 4em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 25%;
}

#header > * {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
}

#header > .inner {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  margin: 0 0 2em 0;
}

#header strong {
  color: #ffffff;
}

#header h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.35em;
  line-height: 1.75em;
  margin: 0;
}

#header .image.avatar {
  margin: 0 0 1em 0;
  width: 6.25em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content p,
ul {
  list-style: none;
  color: #000;
}

.techs {
  color: #000;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0px 16px;
  background-color: #5e4545;
}

.modal-header h2 {
  text-shadow: 0px 2px black;
}

.modal-header h2 {
  color: white;
}

.modal-body {
  color: black;
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5e4545;
}

/* Footer */

#footer .icons {
  margin: 1em 0 0 0;
}

#footer .icons a {
  color: rgb(255, 255, 255);
}

/* Main */

#main {
  margin-left: 35%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 35%);
}

#main > section {
  border-top: solid 2px #787878;
}

#main > section:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

#two > div {
  border-top: 0;
  margin-top: 20px;
  padding-top: 0;
}

/* Contact Form */
.fcf-body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size],
select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-shadow: 0px 2px black;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
    transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus,
.fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #5e4545;
  border-color: #5e4545;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #966868;
  border-color: #966868;
}

.fcf-btn-primary:focus,
.fcf-btn-primary.focus {
  color: #fff;
  background-color: #5e4545;
  border-color: #5e4545;
  box-shadow: 0 0 0 0.2rem #966868;
}

.fcf-btn-lg,
.fcf-btn-group-lg > .fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block + .fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block,
input[type="reset"].fcf-btn-block,
input[type="button"].fcf-btn-block {
  width: 100%;
}

.touch {
  color: #212529;
}

/* Styling for Blog Page */

.card {
  color: #fff;
  text-shadow: 0px 2px rgba(255, 255, 255, 0);
  margin: 30px;
  padding: 10px;
  border: 2px solid #000;
  background-color: RGBA(150, 104, 104, 0.9);
}

.card a {
  color: #000;
}

.card a:hover,
.card a:focus {
  cursor: pointer;
  color: #212529 !important;
}

/* XLarge */

@media screen and (max-width: 1800px) {
  /* Basic */

  body {
    font-size: 12pt;
  }
}

/* Large */

@media screen and (max-width: 1280px) {
  /* Header */

  #header {
    padding: 6em 3em 3em 3em;
    width: 30%;
  }

  #header h1 {
    font-size: 1.25em;
  }

  #header > .inner {
    margin-bottom: 0;
  }

  /* Footer */

  /* Main */

  #main {
    margin-left: 30%;
    max-width: none;
    padding: 6em 3em 3em 3em;
    width: calc(100% - 30%);
  }
}

/* Medium */

@media screen and (max-width: 980px) {
  /* Basic */

  /* List */

  ul.icons li .icon {
    font-size: 1.25em;
  }

  ul.links {
    display: flex;
  }

  /* Header */

  #header {
    background-attachment: scroll;
    background-position: top left, center center;
    background-size: auto, cover;
    left: auto;
    padding: 2em 4em 0.5em;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    display: block;
  }

  #header h1 {
    font-size: 1.75em;
  }

  /* Footer */

  #footer {
    background-attachment: scroll;
    background-color: #1f1815;
    background-image: url("../../images/blocks.jpg");
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    bottom: auto;
    left: auto;
    padding: 4em 4em 2em 4em;
    position: relative;
    text-align: center;
    width: 100%;
  }

  #footer .icons {
    margin: 0 0 1em 0;
  }

  /* Main */

  #main {
    margin: 0;
    padding: 6em 4em;
    width: 100%;
  }
}

/* Small */

@media screen and (max-width: 736px) {
  /* Basic */

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  /* Section/Article */

  header.major h2 {
    font-size: 1.35em;
  }

  /* List */

  /* Header */

  #header {
    padding: 2.25em 1.5em 0.5em;
  }

  #header h1 {
    font-size: 1.35em;
  }

  /* Footer */

  #footer {
    padding: 2.25em 1.5em 0.5em;
  }

  /* Main */

  #main {
    padding: 2.25em 1.5em 0.25em 1.5em;
  }

  #main > section {
    margin: 2.25em 0 0 0;
    padding: 2.25em 0 0 0;
  }
}

/* XSmall */

@media screen and (max-width: 480px) {
  /* Header */

  #header {
    padding: 4.5em 1.5em;
  }

  /* Footer */
}
